<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Task Summary with Busy Time Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@^0.7.7/dist/chartjs-plugin-zoom.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_waiting_time_table.css') }}">
  </head>
  <body>

    <label for="time-selector">Select time:</label>
    <select id="time-selector">
      <option value="The Whole Day">Whole Day</option>
      <option value="Morning" >Morning (6am - 12pm)</option>
      <option value="Afternoon" >Afternoon (12pm - 6pm)</option>
      <option value="Evening">Evening (6pm - 10pm)</option>
    </select>
    <div class="selectors-container">
      <label for="elevator-algorithm-selector">Select Elevator Algorithm:</label>
      <select id="elevator-algorithm-selector"">
        <option value="Otis">Traditional (Otis) Elevator Assignment Method</option>
        <option value="ModernEGCS">Improved (ModernEGCS) Elevator Assignment Method</option>
  
      </select>
    </div>
    
    <figure>
      <h4 id="my-heading">Number of Task During the Whole Day</h4>
      <div style="width: 800px; margin: 0 auto;">
        <canvas id="myChart"></canvas>
      </div>
      <figcaption style="margin-top: 20px;">The plot displays summary for the entire lift system (3 lifts).<br>Number of tasks refers to how many times the lift stopped at that floor.</figcaption>
    </figure>
    <figure>
      <h4>Waiting Time Summary Table</h4>
      <table>
        <thead>
          <tr>
            <th>Floor</th>
            <th>Number of Tasks</th>
            <th>Total Waiting Time (seconds)</th>
            <th>Average Waiting Time (seconds)</th>
          </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
      </table>
      <figcaption style="margin-top: 20px;">The table displays summary for the entire lift system for each floor.</figcaption>
    </figure>
    
    <script src="{{ url_for('static', filename='crowdedness_barchart.js') }}"></script>
    <script src="{{ url_for('static', filename='waiting_time_table.js') }}"></script>
  </body>
</html>