/* Set the font family and font size for the whole page */
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: #f7f6f6;; /* light gray */
}

h4 {
	color: #1d427c; /* changed title color to light blue */
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
  }

/* Set the background color of the table */
table {
	background-color: #ffffff;
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
	padding:50px
	
}

/* Set the font weight, padding, and border for table headers */
th {
	font-weight: bold;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f5a623;
	color: #000000;
	text-align: middle;
}

/* Set the padding and border for table cells */
td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}
/* Set width percentage for columns*/
th:first-child, td:first-child {
    width: 10%;
  }
th:nth-child(2), td:nth-child(2) {
    width: 20%;
  }
th:nth-child(3), td:nth-child(4) {
    width: 35%;
  }
  th:last-child, td:last-child {
    width: 35%;
  }
/* Set data to be centered*/
tbody {
	text-align: center;
  }
/* Set the background color of alternate table rows */
tr:nth-child(even) {
	background-color: #ffc28c;
}

/* Set the hover effect for table rows */
tr:hover {
	background-color: #f5e3d8;
}


h1 {
	text-align: center;
  }
  
  h2 {
	text-align: center;
  }
  
  label {
	font-size: 15px;
  }

  select {
	font-size: 15px;
	padding: 5px;
	width: 220px;
  }
  figcaption{
	text-align: center;
	font-size:9 ;
	
  }
  .selectors-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
  }
  
  #time-selector {
	margin-right: 10px;
  }
  
  #elevator-algorithm-selector {
	margin-left: 10px;
  }
